/* Place custom css here */

/* Footer Social Icons */
.footer-social-icons {
  padding: 12px 0;
  text-align: center!important;
  margin-bottom: var(--social-icons-bottom-margin)
}

.footer-social-icons a {
  text-decoration: none;
}

.footer-social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}

.footer-social-icons a svg {
  height: 20px;
  width: 20px;
}

.me-2 {
    -webkit-margin-end: .5rem!important;
    margin-inline-end: .5rem!important
}

.text-center {
    text-align: center!important
}

.footer-social-icons a:not(:last-of-type) {
  margin-inline-end: 12px;
}
